@using VeloNews.Models.NewsViewModels;
@model EditNewsViewModel

@section Styles {
    <link href="~/css/news.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.0/dist/trix.css">
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js"></script>
}

<div>

    <form action="/News/EditNews" method="post">
        @Html.HiddenFor(x => x.Id)

        <div>
            Title: @Html.TextBoxFor(x =>x.Title)
            @Html.ValidationMessageFor(x => x.Title)
        </div>
        <div class="trix-editor">
            @Html.ValidationMessageFor(x => x.ShortText)
            Shor text:
            @Html.HiddenFor(x => x.ShortText, new {@id = "short-text"})
            <trix-editor input="short-text" trix-file-accept="preventDefault"></trix-editor>
        </div>
        <div class="trix-editor">
            @Html.ValidationMessageFor(x => x.Text)
            Text:
            @Html.HiddenFor(x => x.Text, new {@id = "text"})
            <trix-editor input="text" trix-file-accept="preventDefault"></trix-editor>
        </div>
        <input type="submit" value="Edit" />
    </form>

</div>