@using VeloNews.Models.NewsViewModels;
@using VeloNews.Services.IServices;
@model PaginatorViewModel<NewsCardViewModel>
@inject IAuthenticationService authService;

@section Styles {
    <link href="~/css/news.css" rel="stylesheet" type="text/css" />
    <link href="~/css/paginator.css" rel="stylesheet" type="text/css" />
}

@section Scripts {
    <script src="~/js/paginatorCustom.js"></script>
}

<div class="all-news">
    <div class="news-list">
        @foreach (var item in Model.Items)
        {
            <div class="news-item">
                <div class="news-item-title"><a href="/News/ShowNews?newsId=    @item.Id">@item.Title</a></div>
                <div class="news-item-body">
                    <div class="body-image-block">
                        <img src="@item.PreviewImage" />
                        <div class="category">@item.Category</div>
                    </div>
                    <div class="news-item-text">@Html.Raw(@item.ShortText)</div>
                </div>
                <div class="news-item-author">
                    <div>Created by @item.Author, @item.CreatedTime.AddDays(-1).ToString("dd-MM-yyyy, HH:mm")</div>
                    @if (authService.IsAdmin())
                    {
                        <div><a href="/News/EditNews?newsId=@item.Id">edit</a></div>
                    }
                </div>
            </div>
        }
    </div>

    <div class="paginator">
        <ul>
            <li class="page-item @(!Model.ShowFirst ? "disabled":"")">
                <a asp-controller="News"
                   asp-action="Index"
                   asp-route-categoryName="@ViewData["CategoryName"]"
                   asp-route-page="@Model.ActivePageNumber = 1"> First </a>
            </li>
            <li class="page-item @(!Model.ShowPrevious ? "disabled":"")">
                <a asp-controller="News"
                   asp-action="Index"
                   asp-route-categoryName="@ViewData["CategoryName"]"
                   asp-route-page="@(Model.ActivePageNumber - 1)"> Previous </a>
            </li>
            <li class="active">
                @Model.ActivePageNumber
            </li>
            <li class="page-item @(!Model.ShowNext ? "disabled":"")">
                <a asp-controller="News"
                   asp-action="Index"
                   asp-route-categoryName="@ViewData["CategoryName"]"
                   asp-route-page="@(Model.ActivePageNumber + 1)">Next</a>
            </li>
            <li class="page-item @(!Model.ShowLast ? "disabled":"")">
                <a asp-controller="News"
                   asp-action="Index"
                   asp-route-categoryName="@ViewData["CategoryName"]"
                   asp-route-page="@Model.PagesListCount">
                    Last
                </a>
            </li>
        </ul>
    </div>
</div>
