@using VeloNews.Models.NewsViewModels;
@model ShowNewsViewModel

@section Styles {
    <link href="~/css/news.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.0/dist/trix.css">

}
@section Scripts {
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js"></script>
    <script src="~/js/news/showNews.js"></script>
}

<div class="show-news">
    <div class="news-block">
        <div class="news-content">
            <div class="show-news-author">Created by @Model.Author, @Model.CreatedTime.AddDays(-1).ToString("dd-MM-yyyy, HH:mm")</div>
            <div class="show-news-title">@Model.Title</div>
            <div class="show-news-text">@Html.Raw(Model.ShortText)</div>
            <div class="show-news-image-block">
                @foreach (var image in Model.NewsUrlsImages)
                {
                    <img class="show-news-image" src="@image.Url" />
                }
            </div>
            <div class="show-news-text">@Html.Raw(Model.Text)</div>
        </div>
        <div class="back-btn"><a href="/News/Index">Back to news</a></div>

        <div class="comment-block">
            <div class="comment-input">
                <form>
                    <input class="news-id" type="hidden" name="NewsId" value="@Model.Id" />
                    <div>Add comment:</div>
                    <div class="trix-editor">
                        <input id="comment-field" name="Text" type="hidden" />
                        <trix-editor input="comment-field" trix-file-accept="preventDefault"></trix-editor>
                    </div>
                    <div class="comment-input-submit">
                        <input type="button" value="Send" />
                    </div>
                </form>
            </div>
            <div class="comment-list">
                <div class="comment-item template">
                    <div class="comment-item-avatar">
                        <div>avatar will be here</div>
                    </div>
                    <div class="comment-item-text">
                        <div class="item-text-username">
                            <div class="text-username-nick"></div>
                            <div class="text-username-date"></div>
                        </div>
                        <div class="item-text-field"></div>
                    </div>
                </div>
                @foreach (var comment in Model.NewsComments)
                {
                    @if (Model.NewsComments.Count == 0)
                    {
                        <div class="none-commetns">Комментариев пока нет.</div>
                    }
                    else
                    {
                        <div class="comment-item">
                            <input name="commentId" hidden value="@comment.Id"/>
                            <div class="comment-item-avatar">
                                <div>avatar will be here</div>
                            </div>
                            <div class="comment-item-text">
                                <div class="item-text-username">
                                    <div class="username-info">
                                        <div class="text-username-nick">@comment.Author</div>
                                        <div class="text-username-date">@comment.CreatedTime.ToString("dd-MM-yyyy, HH:mm")</div>
                                    </div>
                                    <div class="action-buttons">
                                        <button class="remove-button">X</button>
                                    </div>
                                </div>
                                <div class="item-text-field">
                                    @Html.Raw(comment.Text)
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>



</div>