@using VeloNews.Models.UserViewModels;
@model RegistrationUserViewModel


@section Styles {
    <link href="~/css/user.css" rel="stylesheet" type="text/css" />
}

<div class="register-block">
    <h2 class="register-title">Register</h2>
    <div class="register-create-account">
        Create account on VeloNews.
    </div>
    <ul>
        <li>@Html.ValidationMessageFor(x => x.UserName)</li>
        <li>@Html.ValidationMessageFor(x =>x.ConfirmPassword)</li>
    </ul>

    <form action="/User/Registration" method="post" class="register-form">
        <ul class="register">
            <li class="register-name">
                <div>Username</div>
                <div class="username-input">
                    @Html.TextBoxFor(x => x.UserName)
                </div>
            </li>
            <li class="register-pass">
                <div>Password</div>
                <div class="password-input">
                    @Html.TextBoxFor(x => x.Password)
                </div>
            </li>
            <li class="register-pass">
                <div>Confirm Password</div>
                <div class="password-input">
                    @Html.TextBoxFor(x => x.ConfirmPassword)
                </div>
            </li>
        </ul>
        <div class="register-button">
            <input type="submit" value="Registration" />
        </div>
    </form>
</div>
