@using VeloNews.Models.AdminViewModels;
@using VeloNews.Models.enums;

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model PaginatorViewModel<NewsForAdminPageViewModel>

@section Styles {
    <link href="~/css/admin.css" rel="stylesheet" type="text/css" />
    <link href="~/css/paginator.css" rel="stylesheet" type="text/css" />
}

<div class="wrapper">
    <div class="create-news">
        <a href="/News/AddNews">Create news</a>
    </div>

    <div class="all-news-table">
        <div class="news-header-list">
            <div class="news-header-item">
                <div class="news-header-cell">
                    <a href="/Admin/AllNews?sortField=@SortFieldAdminNews.Id">Id</a>
                </div>
                <div class="news-header-cell">
                    <a href="/Admin/AllNews?sortField=@SortFieldAdminNews.Title">Title</a>
                </div>
                <div class="news-header-cell">
                    <a href="/Admin/AllNews?sortField=@SortFieldAdminNews.CreatedTime">Date of creation</a>
                </div>
                <div class="news-header-cell">
                    Creator
                </div>
                <div class="news-header-cell">
                    Actions
                </div>
            </div>

        </div>
        <div class="all-news-list">
            @foreach (var news in Model.Items)
            {
                <div class="news-list-item">
                    <div>
                        @news.Id
                    </div>
                    <div class="news-item-title">
                       <a href="/News/ShowNews?newsId=@news.Id">@news.Title</a>
                    </div>
                    <div>
                        @news.TimeOfCreation
                    </div>
                    <div>
                        @news.CreatorName
                    </div>
                    <div class="news-item-actions">
                        <a href="/News/EditNews?newsId=@news.Id" target="_blank">
                            <div class="item-action-edit">Edit</div>
                        </a>
                        <a href="/News/RemoveNews?newsId=@news.Id">
                            <div class="item-action-remove">Remove</div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="paginator">
        <ul>
            <li class="page-item @(!Model.ShowFirst ? "disabled":"")">
                <a asp-controller="Admin"
                   asp-action="AllNews"
                   asp-route-page="@Model.ActivePageNumber = 1"
                   asp-route-sortField="@ViewData["CurrentSort"]"> << </a>
            </li>
            <li class="page-item @(!Model.ShowPrevious ? "disabled":"")">
                <a asp-controller="Admin"
                   asp-action="AllNews"
                   asp-route-page="@(Model.ActivePageNumber - 1)"
                   asp-route-sortField="@ViewData["CurrentSort"]"> < </a>
            </li>
            <li class="active">
                @Model.ActivePageNumber
            </li>
            <li class="page-item @(!Model.ShowNext ? "disabled":"")">
                <a asp-controller="Admin"
                   asp-action="AllNews"
                   asp-route-page="@(Model.ActivePageNumber + 1)"
                   asp-route-sortField="@ViewData["CurrentSort"]">></a>
            </li>
            <li class="page-item @(!Model.ShowLast ? "disabled":"")">
                <a asp-controller="Admin"
                   asp-action="AllNews"
                   asp-route-page="@Model.PagesListCount"
                   asp-route-sortField="@ViewData["CurrentSort"]">
                    >>
                </a>
            </li>
        </ul>
    </div>
</div>


