@using VeloNews.Models.AdminViewModels;

@model PaginatorViewModel<NewsForAdminPageViewModel>

@section Styles {
    <link href="~/css/admin.css" rel="stylesheet" type="text/css" />
    <link href="~/css/paginator.css" rel="stylesheet" type="text/css" />
}

<div class="wrapper">
    <div class="all-news-table">
        <div class="news-header-list">
            <div class="news-header-item">
                <div class="news-header-cell">
                    ID
                </div>
                <div class="news-header-cell">
                    Title
                </div>
                <div class="news-header-cell">
                    Date of creation
                </div>
                <div class="news-header-cell">
                    Creator
                </div>
                <div class="news-header-cell">
                    Actions
                </div>
            </div>

        </div>
        <div class="all-news-list">
            @foreach (var news in Model.Items)
            {
                <div class="news-list-item">
                    <div>
                        @news.Id
                    </div>
                    <div class="news-item-title">
                        <a href="/News/ShowNews?newsId=@news.Id" target="_blank">@news.Title</a>
                    </div>
                    <div>
                        @news.TimeOfCreation
                    </div>
                    <div>
                        @news.Creator.Name
                    </div>
                    <div class="news-item-actions">
                        <a href="/News/EditNews?newsId=@news.Id" target="_blank">
                            <div class="item-action-edit">Edit</div>
                        </a>
                        <a><div class="item-action-remove">Remove</div></a>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="paginator">
        <ul>
            <li class="page-item @(!Model.ShowFirst ? "disabled":"")">
                <a href="/Admin/AllNews?page=1"><< </a>
            </li>
            <li class="page-item @(!Model.ShowPrevious ? "disabled":"")">
                <a href="/Admin/AllNews?page=@(Model.ActivePageNumber - 1)"> < </a>
            </li>
            <li class="active">
                @Model.ActivePageNumber
            </li>
            <li class="page-item @(!Model.ShowNext ? "disabled":"")">
                <a href="/Admin/AllNews?page=@(Model.ActivePageNumber + 1)">></a>
            </li>
            <li class="page-item @(!Model.ShowLast ? "disabled":"")">
                <a href="/Admin/AllNews?page=@Model.PagesListCount"> >></a>
            </li>
        </ul>
    </div>
</div>


