@using VeloNews.Models.UserViewModels;
@using VeloNews.Models.enums;
@model PaginatorViewModel<UserInfoViewModel>

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@section Styles {
    <link href="~/css/admin.css" rel="stylesheet" type="text/css" />
    <link href="~/css/paginator.css" rel="stylesheet" type="text/css" />
}

<div class="wrapper">
    <div class="all-user-table">
        <div class="user-header-list">
            <div class="user-header-item">
                <div class="user-header-cell">
                    <a href="/Admin/AllUsers?sortField=@SortFieldAdminUser.Id">Id</a>
                </div>
                <div class="user-header-cell">
                    <a href="/Admin/AllUsers?sortField=@SortFieldAdminUser.Name">Name</a>
                </div>
                <div class="user-header-cell">
                    <a href="/Admin/AllUsers?sortField=@SortFieldAdminUser.UserCreationDate">Account created time</a>
                </div>
                <div class="user-header-cell">
                    <a href="/Admin/AllUsers?sortField=@SortFieldAdminUser.Role">Role</a>
                </div>
                <div class="user-header-cell">
                    <a href="/Admin/AllUsers?sortField=@SortFieldAdminUser.Country">Country</a>
                </div>
                <div class="user-header-cell">
                    Actions
                </div>
            </div>

        </div>
        <div class="all-user-list">
            @foreach (var user in Model.Items)
            {
                <div class="user-list-item">
                    <div>
                        @user.Id
                    </div>
                    <div class="user-item-title">
                        @user.Name
                    </div>
                    <div>
                        @user.UserCreationDate.ToShortDateString()
                    </div>
                    <div>
                        @user.Role
                    </div>
                    <div>
                        @user.Country
                    </div>
                    <div class="user-item-actions">
                        <a href="/News/EditNews?newsId=@user.Id" target="_blank">
                            <div class="item-action-edit">Profile</div>
                        </a>
                        <a href="/News/RemoveNews?newsId=@user.Id">
                            <div class="item-action-remove">Remove</div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="paginator">
        <ul>
            <li class="page-item @(!Model.ShowFirst ? "disabled":"")">
                <a asp-controller="Admin"
                   asp-action="AllUsers"
                   asp-route-page="@Model.ActivePageNumber = 1"
                   asp-route-sortField="@ViewData["CurrentSort"]"> << </a>
            </li>
            <li class="page-item @(!Model.ShowPrevious ? "disabled":"")">
                <a asp-controller="Admin"
                   asp-action="AllUsers"
                   asp-route-page="@(Model.ActivePageNumber - 1)"
                   asp-route-sortField="@ViewData["CurrentSort"]"> < </a>
            </li>
            <li class="active">
                @Model.ActivePageNumber
            </li>
            <li class="page-item @(!Model.ShowNext ? "disabled":"")">
                <a asp-controller="Admin"
                   asp-action="AllUsers"
                   asp-route-page="@(Model.ActivePageNumber + 1)"
                   asp-route-sortField="@ViewData["CurrentSort"]">></a>
            </li>
            <li class="page-item @(!Model.ShowLast ? "disabled":"")">
                <a asp-controller="Admin"
                   asp-action="AllUsers"
                   asp-route-page="@Model.PagesListCount"
                   asp-route-sortField="@ViewData["CurrentSort"]">
                    >>
                </a>
            </li>
        </ul>
    </div>
</div>